/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .main {
        background: #0e1521 url(/img/mobile-bg.jpg) repeat top center scroll !important;
    }
    .main::after {
        content: '';
        height: 0 !important;
        width: 0 !important;
    }
    /* home main */
    .mainTransform {
        padding: 40px 0;
        height: 100%;
    }
    .apptechmain {
        display: contents;
    }
    /* home content */
    .content {
        transform: translate(-50%, 0);
    }
    .apptechmain .content {
        top: 0;
        padding: 40px 0;
    }
    .apptechH4 {
        width: auto;
        top: 0 !important;
    }
    .apptechH4 span {
        padding: 0 !important;
        line-height: initial !important;
    }
    .mainText {
        width: auto !important;
    }
    #mainText {
        padding: 3px 5px !important;
        border: 0;
    }
    .content img {
        height: 99px;
        width: 160px;
        margin: 60px auto;
    }
    .content h2 {
        margin-top: 0;
        line-height: inherit;
    }
    .content h2 span {
        font-size: 34px;
        padding: 0px 18px 0 18px;
        border: 5px solid #fdfdfe;
        color: #fff;
    }
    .content h4 {
        border: 0;
        top: -5px;
    }
    .content h4 span {
        font-size: 16px;
        border: 0;
        line-height: 16px;
        padding: 5px 10px;
    }
    .dash-bottom {
        height: 90px;
        width: 2px;
        border-right: 2px dashed #fdfdfe;
    }
    .wrapMain {
        height: auto !important;
    }
    /* apptechmain content part */
    .contentpara {
        width: auto;
        padding: 15px 20px;
    }
    .contentpara p {
        font-size: 13px;
        width: 100%;
        padding-right: 0;
    }
    .speech {
        transform: translateX(0);
        margin: 0 30px;
        width: auto;
        left: 0;
        color: #fff;
        opacity: 1 !important;
    }
    .speech p strong {
        display: initial;
        padding-left: 5px;
    }
    .contentpararight {
        line-height: normal;
        font-size: 34px !important;
        line-height: 34px;
        padding-top: 10px;
    }
    .contentpara h2 span {
        color: #616a7a;
        font-size: 34px !important;
    }
    .contentpara h4 span {
        color: #616a7a;
        font-size: 34px !important;
    }
    /* appliances part */
    .appliancesMain {
        padding: 40px 0;
        overflow: auto;
    }
    .appliancesPart {
        width: 1470px !important;
        padding: 0;
        background: #e5e8e8;
    }
    .appliancesContent {
        border: 5px solid #fdfdfe;
        padding: 20px 0 0 20px;
    }
    .appbox {
        width: 215px;
        margin-right: 25px;
    }
    .appbox p {
        font-size: 12px;
        height: auto !important;
        color: #333;
        background: transparent;
        position: relative;
        top: 0;
        padding: 0;
        font-family: "helvetica";
        border-bottom: 0;
        margin-top: 10px;
    }
    .appbox p span {
        padding: 0 0;
    }
    .appbox h3 span {
        border: 5px solid #0e1521;
    }
    .appbox img {
        width: 150px;
    }
    .swipeImg {
        width: 65px;
        height: 42px;
        display: block;
        background: url(/img/swipe-right.png) no-repeat 0 0 scroll;
        background-size: 65px 42px;
        position: absolute;
        bottom: 25px;
        left: 20px;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}