@font-face {
    font-family: firstfont;
    src: url(/font/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(/font/Helvetica-Normal.ttf);
}

body {
    overflow-x: hidden;
}

.main {
    position: relative;
    width: 100%;
    background: url('/img/main.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function: linear;
    z-index: 1;
    transition: 1s;
}

.main::after {
    content: '';
    display: block;
    z-index: -1;
    background: url("/img/main.jpg");
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function: linear;
}

.mainTransform {
    transform: translateX(0);
    transition: .2s all;
    transition-timing-function: linear;
    height: 100vh;
    padding: 0 0 200px 0;
    box-sizing: initial;
}

.header {
    z-index: 111;
    top: 0;
    left: 0;
    background-color: #0e1521;
    padding: 10px;
}

nav a img {
    max-width: 51px;
    height: 21px;
}

nav span {
    float: right;
}


/* main content part */

.content {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content img {
    height: 143px;
    width: 232px;
    opacity: 0;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.content h2 {
    opacity: 0;
    transition-delay: .2s;
    transition-duration: 1.5s;
    margin-top: 55px;
    margin-bottom: 0;
    font-family: firstfont;
    line-height: 66px;
}

.content h2 span {
    font-size: 68px;
    font-weight: 400;
    border: 10px solid #fdfdfe;
    padding: 2px 25px 0 25px;
    display: inline-block;
}

.content h4 span {
    display: inline-block;
    font-family: firstfont;
    background: #fdfdfe;
    font-size: 28px;
    font-weight: 400;
    border: 10px solid #fdfdfe;
    color: #616a7a;
}

.content h4 {
    position: relative;
    top: -10px;
    margin: 0;
    transform: translateY(-20px);
    opacity: 0;
    transition-duration: 1s;
}

.dash-bottom {
    height: 600px;
    width: 4px;
    margin-top: -10px;
    position: relative;
    border-right: 4px dashed #fdfdfe;
    position: absolute;
    transform: translateY(150px);
    transition: 1s;
    opacity: 0;
}


/* side bar */

.sidebarmain {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 250px;
}

.sidebarmain1 {
    display: block;
}

.sidebar {
    /* width: 0; */
    /* overflow: hidden; */
    background: #1d2737;
    position: relative;
    text-transform: capitalize;
    transform: translateX(100%);
    list-style: none;
    transition: .2s all;
    transition-timing-function: linear;
}

.transform {
    transform: translateX(0%);
}

.sidebar li {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar li a {
    padding: 8px 10px;
    border-bottom: 1px dashed #3d4859;
    color: #fdfdfe;
    font-size: 13px;
    display: block;
}

.sidebar li a:hover {
    color: #5e7c9d;
}


/*application technology start */

.apptechmain h2 span {
    font-size: 68px;
    text-transform: uppercase;
    padding: 8px 25px 8px 25px;
}

.apptechH4 {
    width: 88px;
}

.apptechmain .content .contentpara {
    position: relative;
    top: -10px;
}

.contentpara {
    background-color: #fff;
    width: 750px;
    padding: 25px;
}

.contentpara p {
    font-size: 13px;
    font-weight: 400;
    color: #616a7a;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 22px;
    padding-right: 15px;
    width: 76%;
}

.contentpara h2 {
    line-height: 107px;
    width: 78px;
}

.contentpara h2 span {
    font-size: 130px !important;
    color: #616a7a;
    padding: 0;
    padding-right: 5px;
    border: 0;
}

.contentpara h4 {
    line-height: 35px;
    top: 0;
}

.contentpara h4 span {
    top: 0;
    font-size: 32px !important;
    color: #616a7a;
    text-align: left;
    border: 0;
}

.contentpara h2,
.contentpara h4 {
    margin: 0;
    padding: 0;
}


/* speech part start */

.speech {
    background: #0e1521;
    float: right;
    width: 400px;
    padding: 18px 20px;
    position: relative;
    top: -10px;
    left: 20%;
    transform: translateX(50%);
    transition: 1s all;
    opacity: 0;
}

.speech span {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
}

.speech span:nth-of-type(1) {
    top: 0;
    left: -30px;
    background-image: url(/img/speech-open.png);
}

.speech span:nth-of-type(2) {
    bottom: 0;
    right: -30px;
    background-image: url(/img/speech-close.png);
}

.speech p {
    font-family: Helvetica;
    text-align: left;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

.speech p strong {
    color: #5e7c9d;
    font-weight: bold;
    display: block;
}

.wrapInner {
    white-space: nowrap;
    position: sticky !important;
    right: 0 !important;
    top: 0 !important;
    left: 0 !important;
    min-width: 100% !important;
    font-size: 0;
}


/* appliances Part */

.appliancesPart {
    width: 2670px !important;
    padding: 116px 400px 50px 400px;
    background: url(/img/diagonal-bg.png) no-repeat center center scroll;
    overflow: auto;
}

.appliancesContent {
    overflow: auto;
    padding: 40px 0px 0px 40px;
    position: relative;
}

.appbox {
    width: 265px;
    position: relative;
    float: left;
    margin-right: 40px;
}

.appbox h3 span {
    margin: auto;
    font-family: firstfont;
    color: #0e1521;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    border: 8px solid #0e1521;
    width: 220px;
    display: block;
    padding: 4px 0;
}

.appbox p {
    position: absolute;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    white-space: initial;
    word-break: break-word;
    /* padding: 12px 20px 18px 20px; */
    overflow: hidden;
    width: 220px;
    color: #fdfdfe;
    background-color: #0e1521;
    display: block;
    border-bottom: 8px solid #5e7c9d;
    transition: 1s all;
    margin-bottom: 0;
}

.appbox span {
    display: inline-block;
    padding: 12px 24px 18px 20px;
    font-size: 12px;
    line-height: 21px;
}

.appbox img {
    width: 265px;
}